<html>
    <head>
        <meta name="viewport" content="with=device-widt",initial-scale=1.0>
        <link rel="stylesheet" href="{{ url_for('static',filename='list.css') }}">
    <title>Registration Table</title>
    </head>
    <body>
    <form action="home">  
        <h1>Registration Table</h1>
        <table class="center" border="2" cellpadding = "5" cellspacing = "5">
            <thead>
                <td>Username</td>
                <td>Email</td>
                
            </thead>
            {% for row in rows %}
            <tr>
                <td>{{row['Username']}}</td>
                <td>{{row['Email']}}</td>
                
            </tr>
            {% endfor %}
        </table><br>
        <a href="{{ url_for('home') }}"><button>Back</button></a>
    </form>
    <div class="delete_acc">
        <input type="text" placeholder="Delete an Account" name="delete" id="delete">   
        <button type="button" onclick="deleteUsername();" class="button">Delete</button></div>
    </body>

</html>
<script>
    function deleteUsername(){
            var cusIdVal = document.getElementById("delete").value;
            if (cusIdVal.length > 0) {
                fetch("/list/delete/"+cusIdVal, {method: 'delete'}).then(response => response.json());
                alert("Delete Successful")
                window.location.href="/list";
            }
            else{
                window.location.href="/list/delete";
            }
        }
</script>