<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='test.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="overlay">
        <!-- LOGN IN FORM by Omar Dsoky -->
           <!--   con = Container  for items in the form-->
           <div class="con">
           <!--     Start  header Content  -->
           <header class="head-form">
              <h2>Log In</h2>
              <!--     A welcome message or an explanation of the login form -->
              <p>login here using your username and password</p>
           </header>
           <!--     End  header Content  -->
           <br>
           <div class="field-set">
             
              <!--   user name -->
                 <span class="input-item">
                   <i class="fa fa-user-circle"></i>
                 </span>
                <!--   user name Input-->
                 <input class="form-input" id="username" name="username" type="text" placeholder="@UserName" required>
              <br>
             
                   <!--   Password -->
             
              <span class="input-item">
                <i class="fa fa-key"></i>
               </span>
              <!--   Password Input-->
              <input class="form-input" type="password" placeholder="Password" id="password"  name="password" required>
             
        <!--      Show/hide password  -->
             <span>
                <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
             </span>
             
             
              <br>
        <!--        buttons -->
        <!--      button LogIn -->
        <button class="log-in" onclick="logSumit();"> Log In </button>

           </div>
          
        <!--   other buttons -->
         <form action="/registration" method="POST">
         <div class="other">
        <!--      Forgot Password button-->
        <!--     Sign Up button -->
              <a href="{{ url_for('home') }}"><button class="btn submits sign-up">Sign Up 
        <!--         Sign Up font icon -->
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button></a>
        <!--      End Other the Division -->
           </div>
           </form>             
        <!--   End Conrainer  -->
          </div>
          
          <!-- End Form -->
        </div>
</body>
</html>
<script>
   function logSumit(){
       var message;
       var user_name = document.getElementById("username").value;
       var user_password = document.getElementById("password").value;
 
       var data = [
           {"username": user_name,
           "password": user_password}
       ];
 
       $.ajax({
       type: "POST",
       url: "/success",
       data: JSON.stringify(data),
       contentType: "application/json",
       dataType: 'json',
       success: function(result) {
           message = result.message;
           //console.log(message);
           if(message == "Successfully Login"){
               alert("login Successful")   
               window.location.href="/home";
          }
          else{
            alert("login Unsuccessful")
           window.location.href="/";
          }
       } 
       });
   }
 </script>