.header{
    width: 100%;
    margin-top: 10%;
    text-align: center;
    padding-top: 30px 0;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.aboutus-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5;
}
h3{
    font-size: 20px;
    font-weight: 600;
}
img{
    padding: 5px;
    width: 110px;
    border-radius: 10px;
}
.aboutus-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.btn-about{
    display: inline-block;
    text-decoration: none;
    color: #777;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  } 